# Byte-compiled / optimized / DLL files
__pycache__/

# C and Fortran extensions
*.so
*.dylib
*.dll
*.slo
*.lo
*.o
*.obj
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# DotEnv configuration
.env

# Database
*.db
*.rdb

# R-files
**/.Rhistory
**/.RData
**/.Rproj.user

# exclude compiled binaries and external models
/bin

# spatial data
*.dbf
*.prj
*.shp
*.shx

# other 
*.csv
*.png
*.jpeg
*.mp4

# exclude data from source control by default
/data/temp
/data/raw
# exclude everything
/data/processed/coastlines/*

# exception to the rule
/data/processed/coastlines/.gitkeep 

/results/temp_maps
/results/GIF/frames
/results/GIF/frames_156000
/results/GIF/frames_230000
/results/Validation
/data/processed/validation/WegNaarZee
/data/processed/validation/Braamspunt

