# Byte-compiled / optimized / DLL files
__pycache__/

# C and Fortran extensions
*.so
*.dylib
*.dll
*.slo
*.lo
*.o
*.obj
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# DotEnv configuration
.env

# Database
*.db
*.rdb

# R-files
**/.Rhistory
**/.RData
**/.Rproj.user
.Rproj.user
.Rhistory


# exclude compiled binaries and external models
/bin

# spatial data
*.dbf
*.prj
*.shp
*.shx
*.cpg
*.sbn
*.sbx
*.xml
*.qpj

# other
*.csv
*.png
*.jpeg
*.mp4
*.tif

# exclude data from source control by default
/data/raw/GEE_exports/GIF/*
#!/data/raw/GEE_exports/GIF/.gitkeep # ignoring of files in an ignored folder is not possible

!/data/processed/coastlines/.gitignore
!/data/processed/coastlines/.gitkeep
data/raw/GEE_exports/*
!data/raw/GEE_exports/*Suriname_


# exceptions to the rule
!/data/**/.gitkeep
#!/data/processed/coastlines/.gitkeep
#!/data/raw/shapes/.gitkeep
/results/temp_maps
#/results/GIF/frames
#/results/GIF/frames_156000
#/results/GIF/frames_230000
!/results/Validation
